<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
  <title>Login page</title>
</head>
<body style="background-color:#FFF8DC;">
<div align="center">
  <h1>Login page</h1>
</div>
<br>
<div class="container" align="center">

  <div class="alert alert-danger" role="alert">
    <p th:if="${loginError}" class="error">Wrong user or password</p>
  </div>


  <form th:action="@{/login}" method="post">
    <div class="mx-auto">
      <label class="control-label" for="username">Username</label>:
      <input type="username" id="username" class="from-control" name="username" autofocus="autofocus"/></div>
    <br/>
    <div class="mx-auto">
      <label class="control-label" for="password">Password</label>:
      <input type="password" id="password" class="from-control" name="password"/></div>
    <br/>
    <div style="height:5px;">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success">Login</button>
      <span><a th:href="@{/register}" class="btn btn-success">Register</a> </span>
    </div>

    <!--<div>
      <button type="submit" class="button"><b>Login</b></button>
      <button onclick="location.href='/register'" type="button" class="button"><b>Register</b></button>
    </div>-->
  </form>
</div>
</body>
</html>